<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="actions-toolbar radley-billing-form">
    <div class="primary">
        <button class="action action-cancel"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress()">
            <span translate="'Cancel'"/>
        </button>

        <button class="action action-update"
                type="button"
                enable="canApply()"
                click="updateAddress">
            <span translate="'Apply'"/>
        </button>
    </div>
</div>
