<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <!-- <label class="label" for="customer-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label> -->
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            mageInit: {'mage/trim-input':{}},
                            attr: {
                                    placeholder: $t('EMAIL ADDRESS*'),
                                }"
                       name="username"
                       data-validate="{required:true, 'email-sign-rule': true, 'validate-email':true}"
                       id="customer-email"
                       data-afd-control="email"
                       data-afd-additional-options="afdEmailOptions"
                       afterRender="afdInit"
                       data-msg-required="Please provide your email address to continue"
                />
                <div for="customer-email" generated="true" class="afd-error">Please enter a valid email address.</div>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->

                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false">
                    <p><!-- ko i18n: 'This email address is where we’ll send your order confirmation.'--><!-- /ko --></p>
                    <p>
                        <!-- ko i18n: 'Have an existing account? We’ll ask for your password next.'--><!-- /ko -->
                        <br/>
                        <!-- ko i18n: 'No account yet? You’ll be able to create one after checkout.'--><!-- /ko -->
                    </p>
                </span>
            </div>
        </div>
        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="field">
                <!-- <label class="label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label> -->
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                attr: {
                                    placeholder: $t('PASSWORD'),
                                }"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true, 'validate-password':true}" autocomplete="off"/>
                    <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or '">
                    </span><div id="as_a_guest"><u>continue as guest.</u></div>
                </div>

            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" />
                <div class="secondary">
                    <a href="javascript:void(0)" class="action remind" id="remind-password-aem">
                        <span data-bind="i18n: 'Forgotten your password?'"></span>
                    </a>
                </div>
                <div class="primary">
                    <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="i18n: 'Login'"></span></button>
                </div>
            </div>
            <span class="required-fields">*Required field</span>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
<style>
    .afd-loading:before, .afd-loading:after {
        right: 3.5em;
    }
</style>
