<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()">
    <text args="address().prefix"/> <text args="address().firstname"/> <text args="address().middlename"/>
    <text args="address().lastname"/> <text args="address().suffix"/><br/>
    <text args="_.values(address().street).join(', ')"/><br/>
    <text args="address().city "/>, <span text="address().region"></span> <text args="address().postcode"/><br/>
    <text args="getCountryName(address().countryId)"/><br/>
    <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a><br/>

    <each args="data: address().customAttributes, as: 'element'">
        <each args="data: Object.keys(element), as: 'attribute'">
            <if args="typeof element[attribute] === 'object'">
                <if args="element.attribute_code">
                    <if args="element[attribute].attribute_code.substring(0, 4) !== 'afd_'">
                        <if args="element[attribute].label">
                            <text args="element[attribute].label"/>
                        </if>
                        <ifnot args="element[attribute].label">
                            <if args="element[attribute].value">
                                <text args="element[attribute].value"/>
                            </if>
                        </ifnot>
                        <br/>
                    </if>
                </if>
            </if>
            <if args="typeof element[attribute] === 'string'">
                <if args="element.attribute_code">
                    <if args="element.attribute_code.substring(0, 4) !== 'afd_'">
                        <text args="element[attribute]"/>
                        <br/>
                    </if>
                </if>
            </if>
            </if>
        </each>
    </each>

    <button visible="address().isEditable()" type="button"
            class="action edit-address-link"
            click="editAddress">
        <span translate="'Edit'"></span>
    </button>
    <!-- ko if: (!isSelected()) -->
    <button type="button" click="selectAddress" class="action action-select-shipping-item">
        <span translate="'Ship Here'"></span>
    </button>
    <!-- /ko -->
</div>
