<div data-bind="visible: isVisibleWithCollect()" id="delivery-date-container">
    <h3 data-bind="i18n: 'Delivery date:'"></h3>
    <each args="data: elems, as: 'element'">
        <render if="hasTemplate()"/>
    </each>
</div>
