<div class="messages" data-bind="visible: totalRule()">
    <div role="alert" class="message message-error error">
        <div data-ui-id="checkout-cart-validationmessages-message-error" data-bind="text: requiredErrorMessage"></div>
    </div>
</div>
