<div class="collectplus-select"
     data-bind="visible: collectavailable">

    <div class="control radio-button _with-tooltip" id="collect-plus-div">
        <input type="radio" class="radio" title="Ship to CollectPlus Store"
               value="collect" id="billing:collect_use_for_shipping_no" name="billing[use_for_shipping]"
               data-bind="checked: checked, afterRender: initEvents"
               onclick="checkBilling(this);">
        <label for="billing:collect_use_for_shipping_no">
            <ul class="collectplus-billing-logo-text">
                <li class="collectplus-billing-logo-text2">
                <span class="collect-price" data-bind="text: collectprice"></span>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                </li>
                <button id="findyournearestbutton" type="button" class="button"
                        title="Find your nearest Collect+ store" style="display: none;" onclick="openCollectPopup()">
                    <span><span id="nearestbuttontext">Find your nearest Collect+ store</span></span></button>
                <button type="button" class="button" title="UNSELECT COLLECTPLUS STORE" style="display: none;" onclick="clearCollectStore()" id="clearcollectstore">UNSELECT COLLECTPLUS STORE</button>
            </ul>
        </label>
        <span class="checkmark"></span>
        <input type="hidden" value="" name="smsnumberselected" id="smsnumberselected">
    </div>
    <div  style="display:none;" id="collect-overlay" class="collect-overlay"><div style="display: none;" id="collect_popup"></div></div>
    <div style="display:none; min-width: 250px" id="collect_popup_sms_add">
        <div id="sms-collect-overlay" class="sms-collect-overlay"></div>
        <div id="collect_popup_sms_add_inner" style="min-width: 250px">
        <span class="close-sms" id="collectplus_popup_close-sms" onclick="closesmspopup()"><strong>x</strong></span>
            <div id="sms_message"></div> <br>
            <label>You will receive an email when your parcel is ready for collection, if you also want to receive a text message, please enter your mobile number here</label>
            <input type="text" style="min-width: 250px" placeholder="Eg. 07XXXXXXXXX" id="sms_alert_popup" name="sms_alert" class="validate-digits">
            &nbsp;
            <button type="button" class="button collectplus_popup_action_button" title="Save Number" onclick="saveSmsAlertPopUp()" id="collectplus_popup_action_button_save">
                <span><span id="collectplus_popup_action_save_text">Save Number</span></span>
            </button>
            &nbsp;
            <button type="button" class="button collectplus_popup_action_button" title="No Thanks" id="collectplus_popup_action_button_no_thanks" onclick="closesmspopup()">
                <span><span>No Thanks</span></span>
            </button>
        </div>
    </div>
</div>
