<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-option _collapsible opc-payment-additional giftcardaccount "
     id="giftcardaccount-placer"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-giftcard-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Apply Gift Card'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <form class="form form-giftcard-account" id="giftcard-form" method="post" data-bind="blockLoader: isLoading">
            <div class="payment-option-inner">
                <!-- ko if: giftCards.items.length -->
                <div class="field">
                    <label class="label" for="giftcard-list">
                        <span data-bind="i18n: 'Select gift card you want to use'"></span>
                    </label>
                    <div data-bind="foreach: giftCards.items">
                        <div class="radio-button">
                            <input type="radio"
                                   name="gift_card_item"
                                   class="radio"
                                   data-bind="attr: {id: 'gc_' + code},
                                   value: $data.code,
                                   checked: $parent.giftCards">
                            <span class="checkmark"></span>
                            <label class="gift-card-label" data-bind="attr: {for: 'gc_' + code}">
                                <span data-bind="text: $data.label ? $data.label : $data.code"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /ko -->

                <div data-bind="attr: {'class': isShowTextField() ? 'field' : 'hidden'}">
                    <label class="label" for="giftcard-code">
                        <span data-bind="i18n: 'Enter the gift card code'"></span>
                    </label>
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="giftcard-code"
                               name="giftcard_code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: giftCartCode, attr:{placeholder: $t('Enter the gift card code')} "/>
                               <span class="gift-error">
                                <!-- ko foreach: getRegion('messages') -->
                                    <!-- ko template: getTemplate() --><!-- /ko -->
                                <!--/ko-->
                                </span>
                    </div>
                </div>
                <!-- ko if: giftCardAccount.isChecked-->
                    <!-- ko if: giftCardAccount.isValid-->
                    <div class="giftcard-account-info">
                        <div class="giftcard-account-number">
                            <!-- ko i18n: 'Gift Card:'--><!-- /ko -->
                            <span class="giftcard-number">
                                <!-- ko i18n: giftCardAccount.code--><!-- /ko -->
                            </span>
                        </div>

                        <div class="giftcard-account-balance">
                            <!-- ko i18n: 'Current Balance: '--><!-- /ko -->
                            <span class="price">
                                 <!-- ko text: getAmount(giftCardAccount.amount())--><!-- /ko -->
                            </span>
                        </div>
                    </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action action-add primary" type="submit" data-bind="'value': $t('Apply'), click: setGiftCard">
                        <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
