<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isVisible-->
<div class="gift-card-information">
<div><!-- ko i18n: 'Valid code entered '--><!-- /ko --></div>
    <!-- ko i18n: 'Gift Card amount applied to order: '--><!-- /ko -->
    <span data-bind="html: amountApplied()"></span>
</div>
<!-- /ko -->
