<?php
/** @var $block \Magento\Checkout\Block\CustomEmail */
$om = \Magento\Framework\App\ObjectManager::getInstance();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>

<?php if($customerSession->isLoggedIn()) : ?>
<div class="checkout-container">
    <div class="signed-in-customer">
        <p><span data-bind="i18n:'Signed in as'"></span></p>
        <span class="cutomer-email">
        <?php
        $customerSession = $om->get('Magento\Customer\Model\Session');
        if ($customerSession->isLoggedIn()) {
            echo $customerSession->getCustomer()->getEmail();
        }
        ?>
        </span>
    </div>
</div>
<style>
@media only screen and (max-width: 768px) { .checkout-container .opc-wrapper li#shipping { margin-top: 110px;}}
.checkout-container .checkout-title.main { margin-bottom: 90px;}
body.checkout-index-index.payment-step .checkout-container .checkout-title.main {margin-bottom: 30px;}
</style>
<?php endif;?>