<div class="actions-toolbar back-button" id="shipping-method-buttons-container">
    <div class="primary">
        <div class="back">
            <a data-bind="click: goToPrevStep"
                aria-describedby="checkout-back"
                class="action back">
                <span data-bind="i18n: 'Back to Delivery'"></span>
            </a>
        </div>
    </div>
</div>