<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="opc-sidebar" class="opc-sidebar opc-summary-wrapper"  data-bind="mageInit: {'collapsible':{'openedState': 'active', 'openClass':'_active', 'active': true}}">
    <div data-role="title" class="mobile-title">
        <h1><span data-bind="i18n:'Summary'"></span></h1>
    </div>
    <div data-role="content" class="summary-content">
        <!-- ko foreach: getRegion('summary') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="opc-block-shipping-information">
            <!-- ko foreach: getRegion('shipping-information') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="checkout-cards">
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/maestro.png'), alt: $t('Maestro Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/master-card.png'), alt: $t('Master Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/visa.png'), alt: $t('Visa Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/american-express.png'), alt: $t('American Express Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/klarna.png'), alt: $t('Klarna Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/paypal.png'), alt: $t('PayPal Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/digi-cert.png'), alt: $t('DigiCert Card') }" />
    </div>
</div>
