// Variables and mixixns
@charcoal_colour: #2d2d2d;
@dark_charcoal_colour: #231F20;
@colour_white: #ffffff;
@height_field_button: 44px;
@button-grey: #3e3e3e;
@whitesnow_colour: #F4F4F4;
@colour_grey: #585858;
@colour_light_grey: #dadada;
@colour_lighter_grey: #f6f6f6;
@colour_lightest_grey: #dbdbdb;
@color_border: #EBEBEB;
@border_bottom_colour: #7C7C7C;
@title_background: #F4F4F4;
@border-valid: #0AC467;
@border-invalid: #CE5F34;
@error_colour: #E73234;
@title_border: #DEDBDA;
@item_border: #D9D9D9;
@colour_greyed: #eae8e8;
@colour_dark_grey: #333333;
@input_button_color: #707070;
@light_charcoal: #646363;
@fading_grey: #9D9D9D;
@cards-border: #AABAB8;
@screen__ml: 767px;
@screen__mb: 0;
@screen__tab: 1165px;
@screen__mobile: 639px;
@screen__laptop: 1023px;
@screen__bigger_laptop: 1400px;
.uppercase { 
  text-transform: uppercase;
}
.background-opacity {
  background-color: rgba(45,45,45,0.7);
}
.montserrat { 
  font-family: "montserrat-regular", sans-serif;
}
.montserrat-medium { 
  font-family: "montserrat-medium", sans-serif;
}
.montserrat-black { 
  font-family: "montserrat-black", sans-serif;
}
.luma {
  font-family: "luma-icons";
}
.checkout-title {
  .montserrat;
  .uppercase;
  letter-spacing: 2px;
}
.checkout-step-title {
  .lib-font-size(15);
  .uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.radley-layout {
  width: 100%;
  float: left;
  clear: both;
}
.display-none {
  display: none;
}
.font-weight-100 {
  font-weight: 100;
}
.radley-form-field {
  width: 45%;
  float: left;
  clear: left;
  label,
  .label {
    .uppercase;
    font-size: 1.2rem;
    .montserrat;
  }
  &[name*="lastname"],
  &[name*="region"],
  &[name*="region_id"] {
    margin-left: 15px;
    float: right;
    clear: right;
  }
  &[name*="company"] {
    .display-none !important;
  }
  &.street {
    margin-left: 15px;
    float: right;
    clear: right;
    .control {
      .radley-layout;
      .field {
        .radley-layout;
      }
    }
    label {
      .uppercase;
      .lib-font-size(12);
    }
  }
  &[name*="telephone"] {
    input[type="text"] {
      width: 100%;
    }
  }
}
.radley-afd-links {
  color: @color-black;
  text-decoration: underline;
  padding-left: 0;
  .montserrat;
  .lib-font-size(12);
}

.primary_button {
  .montserrat;
  .uppercase;
  min-width: 25rem;
  background-color: @charcoal_colour !important;
  border-radius: 2.5rem !important;
  padding: 12px 10px;
  font-weight: bold;
  border: 1px solid @charcoal_colour;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 384ms;
  color: @colour_white !important;
  margin: 20px 0;
  border: none;
  box-shadow: none;
  text-align: center;
  .lib-font-size(13);
  &:active, &:hover, &:focus {
      background-color: @colour_grey !important;
  }
}
.secondary-button {
  background-color: transparent !important;
  .montserrat;
  .uppercase;
  padding-left: 0;
  box-shadow: none;
  color: @charcoal_colour !important;
  border: 1px solid @charcoal_colour !important;
  border-radius: 2.5rem!important;
  padding: 10px 20px 10px!important;
  text-decoration: none!important;
  margin: 0 10px 0 0!important;
    &:active, &:hover, &:focus {
      opacity: .7;
    }
    span {
      color: @charcoal_colour;
    }
}
