<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->


<span class="checkout-title main" data-bind="i18n: 'Secure Checkout'"></span>
<!-- <div class="signed-in-customer">
<p><span data-bind="i18n:'Signed in as'"></span></p>
<span class="cutomer-email">
</span>
    <p><span data-bind="i18n:'Not you?'"></span>
                <span data-bind="i18n:'Click here to logout.'"></span><span data-bind="i18n:'Please not: this will clear your basket'"></span></p>
    </div> -->
<!-- ko if: (!quoteIsVirtual) -->
<!-- ko foreach: getRegion('customer-email') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<!--/ko-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">

    <div class="step-title" data-bind="i18n: 'Deliver To'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: !isFormInline && !isConnectedCollectPlus() -->
        <button type="button"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                class="action action-show-popup-new-address">
            <span data-bind="i18n: 'New Address'"></span></button>
        <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: isFormInline || isConnectedCollectPlus() -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
    </div>
</li>

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title" data-bind="i18n: 'Choose Delivery Service'" data-role="title"></div>

        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false"
        >
            <!-- ko ifnot: rates().length > 0 && enableNextButton-->
            <div class="no-quotes-block">
                <!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko -->
            </div><!-- /ko -->

            <!-- ko if: rates().length > 0 && enableNextButton-->
            <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation" novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <table class="table-checkout-shipping-method">
                        <thead>
                        <tr class="row">
                            <th class="col col-price" data-bind="i18n: 'Price'"></th>
                            <th class="col col-method" data-bind="i18n: 'Select Method'"></th>
                            <th class="col col-method" data-bind="i18n: 'Method Title'"></th>
                            <!-- <th class="col col-carrier" data-bind="i18n: 'Carrier Title'"></th> -->
                        </tr>
                        </thead>
                        <tbody afterRender="collectRadioBehavior()">

                        <!--ko foreach: { data: rates(), as: 'method'}-->
                        <!-- ko if: method.method_code != 'collectsimple' -->
                        <tr class="row" data-bind="click: $parent.selectShippingMethod, attr: {'class': 'label_method_' + method.method_code + '_' + method.carrier_code}">
                            <td class="col col-method radio-button _with-tooltip">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                <input name="shipping_method"
                                       class="radio"
                                       type="radio"
                                       data-bind="attr: {
                                                    checked: $parent.rates().length == 1,
                                                    'value' : method.carrier_code + '_' + method.method_code,
                                                    'id': 's_method_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                 }" />
                                <span class="checkmark"></span>
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                <input name="shipping_method" type="radio"
                                       data-bind="
                                                value: method.carrier_code + '_' + method.method_code,
                                                checked: $parent.isSelected,
                                                attr: {
                                                    'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                },
                                                event: {change: $parent.selectShippingMethod}" class="radio"/>
                                <span class="checkmark"></span>
                                <!--/ko-->
                                <!-- /ko -->
                                <!-- ko if: method.error_message -->
                                <div class="disabled">
                                    <input type="radio" class="radio disabled" disabled="disabled">
                                    <span class="checkmark"></span>
                                </div>
                                <!-- /ko -->
                            </td>

                            <td data-bind="
                                        text: method.method_title,
                                        attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code, 'class': 'col col-method' + (method.available ? '' : ' col-disabled')}"></td>

                            <td data-bind="attr: {'class': 'col col-price' + (method.available ? '' : ' col-disabled')}">
                                <!-- ko foreach: $parent.getRegion('price') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!-- /ko -->
                            </td>
                            <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->

                            <!-- <td class="col col-carrier"
                                    data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></td> -->
                        </tr>

                        <!-- ko if:  method.extension_attributes -->
                        <!-- ko if:  !method.comment && method.extension_attributes.amstorepick_comment -->
                        <tr class="row">
                            <td class="col" colspan="4"
                                data-bind="html: method.extension_attributes.amstorepick_comment">
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- ko if: !method.comment && method.extension_attributes.amstartes_comment -->
                        <tr class="row">
                            <td class="col" colspan="4"
                                data-bind="html: method.extension_attributes.amstartes_comment">
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- ko ifnot: !method.comment && method.extension_attributes.amstorepick_comment && method.extension_attributes.amstartes_comment -->
                        <tr class="row">
                            <td class="col" colspan="4"
                                data-bind="html: method.comment">
                            </td>
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->

                        <!-- ko if:  method.error_message -->
                        <tr class="row row-error">
                            <td class="col col-error" colspan="4">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input name="shipping_method" type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                </span>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- /ko -->
                        </tbody>
                    </table>
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>

                <!-- ko foreach: getRegion('after-shipping-method-form') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->

                <!-- ko if: errorValidationMessage().length > 0 -->
                    <div class="message notice">
                        <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                    </div>
                <!-- /ko -->

            </form>
            <!-- /ko -->

        </div>
    </div>

    <div class="progress-button">
        <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation" novalidate="novalidate">
            <div class="actions-toolbar" id="shipping-method-buttons-container">
                <div class="primary">
                    <!-- ko if: rates().length > 0 && enableNextButton && collectPlusRule() && isSelectedShippmentMethod() && enableShippingButton -->
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                    <!-- /ko -->
                    <!-- ko ifnot: rates().length > 0 && enableNextButton && collectPlusRule() && isSelectedShippmentMethod() && enableShippingButton -->
                    <button data-role="opc-continue" type="submit" class="button action continue-block primary"
                            data-bind="enable: false">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>

    <div class="checkout-cards">
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/maestro.png'), alt: $t('Maestro Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/master-card.png'), alt: $t('Master Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/visa.png'), alt: $t('Visa Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/american-express.png'), alt: $t('American Express Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/klarna.png'), alt: $t('Klarna Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/paypal.png'), alt: $t('PayPal Card') }" />
        <img data-bind="attr: { src: require.toUrl('Magento_Checkout/images/digi-cert.png'), alt: $t('DigiCert Card') }" />
    </div>

</li>
