<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements fieldset" data-bind="visible: isVisible">
        <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement field choice required check-button">
                <input type="checkbox" class="required-entry"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"/>
                <span class="checkmark"></span>
                <label class="label terms-label" data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <span data-bind="i18n:'I agree with Radley London’s '"></span>
                    <button type="button"
                            class="action action-show"
                            data-bind="click: $parent.opanAemWindow">
                        <span class="terms-text" data-bind="html: checkboxText"></span>
                    </button>
                    &nbsp;
                    <span data-bind="i18n:'and'"></span>
                    &nbsp;
                    <a class="action" data-bind="click: $parent.openAemPrivacyWindow, i18n: 'Privacy Policy.'"></a>
                </label>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <button type="button" class="action action-show"
                        data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                    <span data-bind="html: checkboxText"></span>
                </button>
            </div>
            <!-- /ko -->
        <!-- /ko -->
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content" data-bind="html: modalContent, style: {height: contentHeight, overflow:'auto' }"></div>
        </div>
    </div>
</div>
<style>
    .cmp-popup__close {
        font-size: 16px;
        right: 0;
        top: 0;
        position: sticky;
        float: right;
    }

    .choice.check-button .label span.terms-text  {
        padding-left: 4px;
    }

    .fieldset > .field.choice .label.terms-label {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .checkout-agreements .terms-label button.action {
        min-width: 0;
    }
</style>
