<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isVisible() -->
<div data-role="radley-subscription-optins">
    <div class="fieldset" data-bind="visible: isVisible">
        <div class="field choice check-button">
            <input type="checkbox" id="directMail" checked/>
            <span class="checkmark"></span>
            <label class="label" for="directMail">
                <span data-bind="i18n: 'Please send me direct mail by post.*'"></span>
            </label>
        </div>
    </div>
</div>
<!-- /ko -->