<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.frontend_name":"Store Name"
} @-->

<!-- End Content -->
</td>
</tr>
        <tr class="contact-details">
            <td style="background-color: #ffffff !important; font-size: 12px; color: #000000 !important; text-align: left!important; padding: 20px; border-top: 1px solid #dedede;">
                <p>If you have any questions or concerns, please get in touch with us. Our contact details can be found
                <a href="{{customVar code=radley_aem_domain}}/contacts" style="text-decoration: none!important; text-align: center; color: #006bb4 !important;">here.</a>
                </p>
            </td>
        </tr>

        <tr style="text-align: left;">
            <td style="background: #ffffff; padding: 0 20px 20px;color: #000000 !important; text-align: left!important; border-bottom: 10px solid #f5f5f5; font-size: 12px;">
                {{block class='\\Radley\\EmailTemplates\\Block\\Email\\Emailtemplates'
            area='frontend' template='Radley_EmailTemplates::email/emailfootercontact.phtml' }}
            </td>
        </tr>


        </table>
        </td>
</tr>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
