<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@vars {
"var logo_url":"Email Logo Image URL",
"var logo_alt":"Email Logo Alt Text",
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}

         body a:hover {
            color: #0f75b8 !important;
        }
        body td, body td p, body td span, body td a {
            font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
        }
        body td a.action.primary, .button a, .button a:visited {
            background-color: transparent !important;
            color: #000000 !important;
            border: 1px solid #000000 !important;
            padding: 10px 15px 10px !important;
            border-radius: 0 !important;
            font-family: "Montserrat", sans-serif !important;
            font-weight: 400 !important;
            transition: 0.5s ease-in-out !important;
            -webkit-transition: 0.5s ease-in-out !important;
            -moz-transition: 0.5s ease-in-out !important;
            -o-transition: 0.5s ease-in-out !important;
            font-size: 1.4rem !important;
            text-align: center !important;
            display: block !important;
            max-width: 200px;
            margin: 15px auto 15px !important;
            text-transform: uppercase;
        }
        body p a, body td a, a {
            color: #0f75b8 !important;
        }
        body a:visited {
            color: #0f75b8 !important;
        }
        body tr.call-number td a {
            text-decoration: none !important;
        }
        body td a.action.primary:focus, body td a.action.primary:active, body td a.action.primary:hover, button a:hover,
        button a:active, button a:focus, .button .inner-wrapper a:active, .button .inner-wrapper td:active {
            background-color: transparent !important;
            color: #3e3e3e !important;
            border: 1px solid #3e3e3e !important;
        }
        body .button .inner-wrapper td:hover, body .button .inner-wrapper td {
            background-color: transparent !important;
            padding: 0 !important;
            border: none !important;
        }
        ul {
            display: inline-block;
            text-align: left;
        }
        body .button a:hover {
            color: #3e3e3e !important;
        }
        body, body h1 {
            border-color: #dedede !important;
        }
        body tr p .text-center, body td p .text-center, .text-center {
            text-align: center;
        }
        table.x_back-instock td {
            display: block !important;
            margin-bottom: 10px;
        }
        table.x_back-instock-link table.x_email-items td:nth-child(1) {
            display: none !important;
        }
        table.x_back-instock-link td {
            padding: 0 !important;
        }
        table.x_back-instock img {
            max-width: 125px !important;
            margin: 20px 0 !important;
        }
        table.x_back-instock {
            margin: 0 auto;
        }
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper" width="100%">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">
                <tr>
                    <td class="header" style="text-align:center; background-color: #ffffff;border-top: none; border-bottom: 2px solid #f6f6f6; padding: 30px 25px;">
                        <a class="logo" href="{{store url=""}}">
                            <img
                                {{if logo_width}}
                                    width="{{var logo_width}}"
                                {{else}}
                                    width="130"
                                {{/if}}

                                {{if logo_height}}
                                    height="{{var logo_height}}"
                                {{/if}}

                                src="{{var logo_url}}"
                                alt="{{var logo_alt}}"
                                border="0"
                            />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="main-content">
                    <!-- Begin Content -->
