<?php
/* reworked the products structure
from now on it looks like this
array (
  '7079 ss16' =>
  array (
    'name' => 'Rye',
    'attributes' =>
    array (
      'colour' =>
      array (
        'value' => 'Green',
        'label' => 'Colour',
      ),
    ),
    'price' => 27.5,
    'thumbnail' => 'https://radley-project.local/pub/media/catalog/product/cache/8e619558cb45771a9bb4b3c4841c29cf/3/9/39ec8cac434646c4031fd4c83f18c2b5cb81b8fceb34622f493da7065f15b8b0.jpeg',
    'url' => 'https://radleyandco-stage.adobemsbasic.com/rye-large-zip-around-matinee.html',
  ),
  '8389IXH' =>
  array (
    'name' => 'Nappa Originals',
    'attributes' =>
    array (
      'colour' =>
      array (
        'value' => 'Dark Azure',
        'label' => 'colour',
      ),
    ),
    'price' => 64.0,
    'thumbnail' => 'https://radley-project.local/pub/media/catalog/product/cache/8e619558cb45771a9bb4b3c4841c29cf/9/a/9a04b39a63640c36da5093e635c41bb72670b91243667dde9cc67bc6639a8da4.jpeg',
    'url' => 'https://radleyandco-stage.adobemsbasic.com/nappa-originals-medium-ziptop-multiway-c8aea2.html',
  ),
)
*/
$products = $block->getProducts();
if($products && count($products)):
?>
    <table class="email-items back-instock" style="width: auto; margin: 0 auto; border-spacing: 20px; border-collapse: separate;">
        <tr class="email-information">

            <?php  foreach ($products as $key=> $product) : ?>

                <td style="padding: 0;">
                    <a href="<?php echo $product['url'];?>" target="_blank">
                        <?php echo $product['name'];?>
                    </a>
                    <a href="<?php echo $product['url'];?>" target="_blank" style="display: block;">
                        <img src="<?php echo $product['thumbnail'];?>" width="100"/>
                    </a>
                </td>

            <?php endforeach; ?>

        </tr>
    </table>
<?php endif;?>
