<div data-role="radley-newsletter-optins" class="radley_newsletter_checkbox-div check-button" >
    <input type="checkbox" class="radley_newsletter_checkbox" id="radleyNewsletterCheck" checked />
    <span class="checkmark"></span>
    <label class="label" >Please send me email newsletters.*</br>
        If you would prefer not to hear about our latest news, exclusive offers and unmissable launches, please untick the relevant boxes.</br>
        *You can unsubscribe at any time
    </label>
</div>
