<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /* @var \Magento\Framework\View\Element\Template $block */ ?>
<?php $_shipment = $block->getShipment() ?>
<?php
/* @var \Magento\Sales\Model\Order $_order */
$_order = $block->getOrder() ?>

<?php if ($_shipment && $_order) : ?>

    <?php $trackCollection = $_order->getTracksCollection($_shipment->getId()) ?>
    <?php if ($trackCollection) : ?>

            <?= $block->escapeHtml(__('Your Tracking Number:')) ?>

            <?php foreach ($trackCollection as $_item) : ?>
<?php

$trackurl = '';
$trackurl = 'http://www.dpd.co.uk/tracking/quicktrack.do?search.consignmentNumber='.$_item->getNumber().'&search.searchType=16&search.javascriptValidated=0&appmode=guest';
if ($_item->getCarrierCode() == 'fedex') {
                $trackurl = 'https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber='.$_item->getNumber();
}

?>
                <a href="<?= $block->escapeUrl($trackurl) ?>">
                    <strong>
                        <?= $block->escapeHtml($_item->getNumber()) ?>
                    </strong>
                </a>
            <?php endforeach ?>

    <?php endif; ?>
<?php endif; ?>
