<!-- ko if:  (isDisplayPriceWithWeeeDetails($parents[2])) -->
    <span class="cart-tax-total" data-bind="mageInit: {taxToggle: {itemTaxId : '#esubtotal-item-tax-details'+$parents[2].item_id}}">
        <span class="price" data-bind="text: getFormattedPrice(getRowDisplayPriceInclTax($parents[2]))"></span>
    </span>
<!-- /ko -->

<!-- ko ifnot: (isDisplayPriceWithWeeeDetails($parents[2])) -->
    <span class="cart-price">
        <!-- ko if:  (showOriginalPrice($parents[1], $parents[2])) -->
            <span class="price current-price" data-bind="text: getFormattedPrice(getRowDisplayPriceInclTax($parents[2]))"></span>
            <span class="price original-price" data-bind="text: getFormattedPrice(getRowTotalOriginalPrice($parents[1], $parents[2]))"></span>
        <!-- /ko -->
        <!-- ko ifnot:  (showOriginalPrice($parents[1], $parents[2])) -->
            <span class="price" data-bind="text: getFormattedPrice(getRowDisplayPriceInclTax($parents[2]))"></span>
        <!-- /ko -->
    </span>
<!-- /ko -->

<!--ko if:  (getWeeeTaxApplied($parents[2]).length > 0)-->
<!-- ko ifnot:  (isDisplayPriceWithWeeeDetails($parents[2])) -->
    <span class="cart-tax-info" data-bind ="attr: {'id': 'esubtotal-item-tax-details' + $parents[2].item_id}" style="display: none;"></span>
<!-- /ko -->

<!-- ko if:  (isDisplayPriceWithWeeeDetails($parents[2])) -->
    <span class="cart-tax-info" data-bind ="attr: {'id': 'esubtotal-item-tax-details' + $parents[2].item_id}" style="display: none;">
         <!-- ko foreach: getWeeeTaxApplied($parents[2]) -->
            <span class="weee" data-bind="attr:{'data-label':title}">
                <span class="price" data-bind="text: $parent.getFormattedPrice(row_amount_incl_tax)"></span>
            </span>
        <!-- /ko -->
    </span>
<!-- /ko -->

<!-- ko if: isDisplayFinalPrice($parents[2]) -->
    <span class="cart-tax-total" data-bind="mageInit: {taxToggle: {itemTaxId : '#esubtotal-item-tax-details'+$parents[2].item_id}}">
        <span class="weee" data-bind="attr: {'data-label':$t('Total incl. tax')}">
            <span class="price" data-bind="text: getFormattedPrice(getFinalRowDisplayPriceInclTax($parents[2]))"></span>
        </span>
    </span>
<!-- /ko -->
<!-- /ko -->
