<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-messages" class="messages checkout-messages" data-bind="click: removeAll">
    <!-- ko foreach: messageContainer.getErrorMessages() -->
    <div role="content" class="message message-error error">
        <div data-ui-id="checkout-cart-validationmessages-message-error" data-bind="text: $data"></div>
    </div>
    <!--/ko-->
    <!-- ko foreach: messageContainer.getSuccessMessages() -->
    <div role="content" class="message message-success success">
        <div data-ui-id="checkout-cart-validationmessages-message-success" data-bind="text: $data"></div>
    </div>
    <!--/ko-->
</div>
